img{
	width: 50%;
	height: 50%;

}

.detailImage {
	width: 100%;
	height: 100%;
}

div .objectTitle {
	vertical-align: top;
	text-decoration: underline;
}

div .object {
	margin-left: 10%;
	margin-right: 10%;
	border-width: 7px;
	font-size: 30px;
	border-style: dotted;
    border-color: white;
    background-color: rgba(220,211,193, .5);
    text-align: center;


}

.detail{
	text-align: center;
	margin-left: 2%;
	color: rgba(220,211,193);
	margin-top: 2%;
	text-decoration: underline;
	text-decoration-color: white;
}
#container {
	margin-left: 10%;
	margin-right: 10%;
	border-width: 5px;
	border-style: dotted;
    border-color: white;
    background-color: 	rgba(230,230,250, 0.8);
    z-index: 0;
}
body {
 background-image: url(paisley3.jpg); 
	font-family: "sans-serif";
	color: #235166;
	font-size: 55px;
	margin: auto;
	-webkit-text-stroke: white;
}

#title {
	text-align: center;
	font-size: 93px;
	border-width: 5px;
	border-style: dashed;
	color: #235166;
	 -webkit-text-stroke: white;
	font-weight: bold;
	  background-color: 	rgba(230,230,250, 0.8);
    border-color: white;
   
	
}

.detail {
	font-size: 20px;
	width: 100%;
	height: 100%;
}
.words {
	display: inline-block;
		border-width: 5px;
	border-style: dashed;
	border-color: white;
	left: 0;
	width: 17%;
	margin: 0;
}
.words h1{
	display: inline-block;
	left: 0;
	margin-left: 0;
	margin-bottom:0;
	margin-top: 0;
	font-size:30px;
	padding: 0;
	border-width: 5px;
	border-style: dashed;
	color: #C1AC87;
	background-color: 	rgba(230,230,250, 0.8);
    border-color: white;
    -webkit-text-stroke: .9 px black;

}

.image {
	display: inline-block;
	top: 0;
	border-width: 5px;
	border-style: dotted;
    border-color: white;
    padding: 0;
    margin-left: 10%;
    vertical-align:top;

}

h2 {
	margin: 1%;
	text-align: center;
	color: #C1AC87;
}